<?xml version="1.0" encoding="utf-8" ?>
<config>
    <fieldset 
        name="param_name" 
        label="COM_INSTABOARD_SETTINGS_LABEL" 
    >
        <field
            name="redirect_uri"
            label="COM_INSTABOARD_SETTINGS_REDIRECT_URI_LABEL"
            description="COM_INSTABOARD_SETTINGS_REDIRECT_URI_DESC"
            type="text"
            default=""
        />
        <field 
            name="client_id" 
            type="text" 
            default="" 
            label="COM_INSTABOARD_SETTINGS_CLIENT_ID_LABEL" 
            description="COM_INSTABOARD_SETTINGS_CLIENT_ID_DESC"
            required="true" 
        />
        <field 
            name="client_secret" 
            type="password" 
            default="" 
            required="true" 
            label="COM_INSTABOARD_SETTINGS_CLIENT_SECRET_LABEL" 
            description="COM_INSTABOARD_SETTINGS_CLIENT_SECRET_DESC" 
        />
       <field 
            name="authorize" 
            type="authorize" 
            default="" 
            label="" 
            description="" 
        />
        <field 
            name="auth_code" 
            type="text" 
            default="" 
            label="Auth Code"
        />
        <field 
            name="access_token" 
            type="text" 
            default="" 
            label="Auth Token"
        />
        <field 
            name="base_uri" 
            type="baseuri" 
            default="" 
        />
        <field 
            name="helpers_uri" 
            type="helpersuri" 
        />
    </fieldset>	   
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_instaimages"
            section="component" 
        />
    </fieldset>	
</config>